<!-- Navbar -->

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
  id="layout-navbar">

  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0   d-xl-none ">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>

    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <ul class="navbar-nav flex-row align-items-center ms-auto">

      <li class="nav-item lh-1 me-3" id="pharmacyname">

      </li>

      <!-- Quick links  -->
      <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-2 me-xl-0">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"
          data-bs-auto-close="outside" aria-expanded="false">
          <i class='bx bx-grid-alt bx-sm'></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end py-0">
          <div class="dropdown-menu-header border-bottom">
            <div class="dropdown-header d-flex align-items-center py-3">
              <h5 class="text-body mb-0 me-auto">Shortcuts</h5>
              <!-- <a href="javascript:void(0)" class="dropdown-shortcuts-add text-body" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Add shortcuts"><i class="bx bx-sm bx-plus-circle"></i></a> -->
            </div>
          </div>
          <div class="dropdown-shortcuts-list scrollable-container overflow-auto">
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-receipt fs-4"></i>
                </span>
                <a href="#" class="stretched-link">DASHBOARD</a>
                <small class="text-muted mb-0">Alt + D</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-list-ul fs-4"></i>
                </span>
                <a href="#" class="stretched-link">PROFILE</a>
                <small class="text-muted mb-0">F3</small>
              </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-receipt fs-4"></i>
                </span>
                <a href="#" class="stretched-link">SALE INVOICE</a>
                <small class="text-muted mb-0">Alt + N</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-list-ul fs-4"></i>
                </span>
                <a href="#" class="stretched-link">SALE REPORT</a>
                <small class="text-muted mb-0">Alt + M</small>
              </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-cart fs-4"></i>
                </span>
                <a href="#" class="stretched-link">PURCHASE BILL</a>
                <small class="text-muted mb-0">Alt + P</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-box fs-4"></i>
                </span>
                <a href="#" class="stretched-link">GRN REPORT</a>
                <small class="text-muted mb-0">Alt + U</small>
              </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-book fs-4"></i>
                </span>
                <a href="#" class="stretched-link">GENERAL LEDGER</a>
                <small class="text-muted mb-0">Alt + L</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-user-check fs-4"></i>
                </span>
                <a href="#" class="stretched-link">INVENTORY</a>
                <small class="text-muted mb-0">Alt + I</small>
              </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-book fs-4"></i>
                </span>
                <a href="#" class="stretched-link">MED ALTERNATIVE</a>
                <small class="text-muted mb-0">Alt + A</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-user-check fs-4"></i>
                </span>
                <a href="#" class="stretched-link">ITEMWISE IN/OUT</a>
                <small class="text-muted mb-0">Clt + F8</small>
              </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-book fs-4"></i>
                </span>
                <a href="#" class="stretched-link">PARTYWISE IN/OUT</a>
                <small class="text-muted mb-0">Alt + C</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-user-check fs-4"></i>
                </span>
                <a href="#" class="stretched-link">MY SUBSCRIPTION</a>
                <small class="text-muted mb-0">F4</small>
              </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-book fs-4"></i>
                </span>
                <a href="#" class="stretched-link">GSTR-1</a>
                <small class="text-muted mb-0">Alt + G</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="bx bx-book fs-4"></i>
                </span>
                <a href="#" class="stretched-link">GSTR-2</a>
                <small class="text-muted mb-0">Alt + H</small>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!-- Quick links -->


      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="/img/avatars/1.jpg" class="w-px-40 h-auto rounded-circle">
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="#">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="/img/avatars/1.jpg" alt class="w-px-40 h-auto rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <span class="fw-semibold d-block" id="ownername"></span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="/profile">
              <i class="bx bx-user me-2"></i>
              <span class="align-middle">My Profile</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/my_subscription">
              <i class="bx bx-user me-2"></i>
              <span class="align-middle">My Subscription</span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="/api/logout/" id="logout">
              <i class="bx bx-power-off me-2"></i>
              <span class="align-middle">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->

    </ul>
  </div>
</nav>

<!-- / Navbar -->
<script src="/vendor/libs/jquery/jquery.js"></script>
<script>
  $(document).ready(function () {
    var check = JSON.parse(localStorage.getItem('name'));

    $("#pharmacyname").text(`<%=orgName%>`);
    $("#ownername").text('<%=ownerName%>');



    $("#logout").click(function () {
      localStorage.clear();
    })

  })
</script>